<!-- DO NOT BEAUTIFY!!! -->
<div id="template_1">
    <div class="byui <%= courseClass %>">
      <h2>Overview</h2>
      <p>In this activity, you will <span class="todo">[specify <strong>deliverable/action to be taken] </strong></span><strong>in </strong><span class="todo"><strong>[time period,</strong> if any]</span>. You must <span class="todo">[action to be taken]</span> for <span class="todo">[indicate the audience]</span> that <span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor's role in this activity]</span>.</p>
      <h2>Instructions </h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      
          <ol>
            <li>
                <span class="todo">[Any prescribed method or process for completing activity?]</span>
            </li>
            <li>
              <span class="todo">[Any tool requirements? If any, indicate tutorials or other helpful resources.]</span>
            </li>
            <li>
              <span class="todo">[Any demonstration of mastery for specific topics or competencies?]</span>
            </li>
            <li>
              <span class="todo">[Any submission/formatting requirements?]</span>
            </li>
          </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>      <p>You will be graded using the criteria below <span class="todo">[include criteria and levels]</span>.</p>
    </div>
  </div>
  <div id="template_2">
    <div class="byui" <%= courseClass %>>
      <h2>Overview</h2>
      <p><span class="todo"><strong>[Read/Watch/Listen to][name of material]</strong></span>. As you <span class="todo">[read/watch/listen to][name of material]</span>, <span class="todo">[<strong>watch for, pay attention to</strong>, etc.]<strong>[significant topic to be explored]</strong></span>. </p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      
          <ol>
              <li><span class="todo">[Process Requirements? If any, indicate]</span></li>
            <ol type="a">
                <li><span class="todo">[List of things to read/watch/listen to]</span></li>
            </ol>
              <li><span class="todo">[Tool Requirements? If any, indicate tutorials or other helpful resources]</span></li>
          </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>      <p>You will be graded using the criteria below <span class="todo">[include criteria and levels]</span>.</p>
    </div>
  </div>
  <div id="template_3">
    <div class="byui" <%= courseClass %>>
<!--
      <h1>Prepare - Read/Watch/Listen (Instructions in another activity)</h1>
      Status = Complete
-->
      <h2>Overview </h2>
      <h2>Preparation</h2>
      <p>In order to complete <span class="todo">[name of TOA/Ponder/Prove activity]</span>, you will need to <span class="todo"><strong>[read/watch/listen to][name of material]</strong></span>. As you do so, <span class="todo"><strong>[watch for, pay attention to</strong>, etc.]<strong>[significant topic(s) to be explored]</strong></span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
        <li><span class="todo">[Specify what students are supposed to with the topic they are exploring]</span></li>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>        <p>You will be graded using the criteria below <span class="todo">[include criteria and levels]</span>.</p>
    </div>
  </div>
  <div id="template_4">
    <div class="byui" <%= courseClass %>>
<!--
      <h1>Prepare - Pre-Assesment</h1>
      Status = Complete
-->
      <h2>Overview </h2>
      <p>In this activity, you will <strong>complete</strong> a <strong>pre-assessment to determine your understanding</strong> of <span class="todo">[describe and <strong>highlight</strong> what must be understood]</span>. This will <span class="todo">[indicate purpose]</span>. Your instructor will <span class="todo">[indicate instructor's role in this activity]</span>.</p>
      <h2>Instructions </h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
        <li><span class="todo">[Quiz responses should adhere to the prescribed method]</span></li>
        <ol type="a">
          <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
          <li><span class="todo">[Indicate any unique steps needed to complete]</span></li>
          <li><span class="todo">[Indicate what resources, if any, are permitted]</span></li>
        </ol>
        <li><span class="todo">[Quiz responses should utilize the appropriate tool(s)]</span></li>
        <ol type="a">
          <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it]</span>.</li>
        </ol>
        <li><span class="todo">[Quiz responses should adhere to submission requirements]</span></li>
        <ol type="a">
          <li><span class="todo">[If group quiz, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
        </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>    </div>
  </div>
  <div id="template_5">
    <div class="byui" <%= courseClass %>>
<!--
      <h1>Prepare - Interview</h1>
      Status = Complete
-->
      <h2>Overview </h2>
      <p>In this activity, you will <strong>interview</strong> <span class="todo">[describe and <strong>highlight</strong> interviewee]</span> to <span class="todo">[<strong>highlight</strong> needed action--identify, research, demonstrate, etc.]</span> so that <span class="todo">[describe and <strong>highlight</strong> what information must be gained]</span>. Your instructor will <span class="todo">[indicate instructor's role in this activity]</span>.</p>
      <h2>Instructions </h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
        <li><span class="todo">[Interview should adhere to the prescribed method]</span></li>
        <ol type="a">
          <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
          <li><span class="todo">[Indicate required steps to complete&mdash;particularly if multiple documents/deliverables are required]</span></li>
          <li><span class="todo">[Indicate any resources, documents, or artifacts needed to help complete interview]</span></li>
        </ol>
        <li><span class="todo">[Interview should utilize the appropriate tool(s)]</span></li>
        <ol type="a">
          <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it]</span>.</li>
        </ol>
        <li><span class="todo">[Interview should show clear understanding of topic(s)]</span></li>
        <ol type="a">
          <li><span class="todo">[Indicate specific topics to cover and when]</span>.</li>
        </ol>
        <li><span class="todo">[Interview should adhere to submission requirements]</span></li>
        <ol type="a">
          <li><span class="todo">[If group interview, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
          <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</span></li>
        </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>    </div>
  </div>
  
  <div id="template_6">
  <div class="byui" <%= courseClass %>>
<!--    <h1>Prepare - Concept Mapping</h1>
        Status = Complete
-->
      <h2>Overview</h2>
      <p>In this activity, you will complete a <strong>concept map</strong> to <strong>demonstrate</strong> your <strong>understanding</strong> of <span class="todo">[describe and <strong>highlight</strong> topics/concepts/principles]</span>. This will <span class="todo">[indicate how it will prepare them for future course activities]</span>. Your instructor will <span class="todo">[indicate instructor's role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
          <li><span class="todo">[Concept map should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate what a concept map is and what it is not; example map be be useful]</span></li>
              <li><span class="todo">[Indicate required steps to complete—such as number of branches]</span></li>
              <li><span class="todo">[Indicate any texts, resources, or documents needed to help complete concept map]</span></li>
          </ol>
          <li><span class="todo">[Concept map should utilize the appropriate tool(s)]</span></li>
          <ol type="a">
              <li><span class="todo"></span>[Indicate the tool, if any, that students will use and how they will use it].</li>
          </ol>
          <li><span class="todo">[Concept map should show clear understanding of topic(s)]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate specific topics that should be represented].</span></li>
          </ol>
          <li><span class="todo">[Concept map should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[Include criteria for grading]</span></li>
              <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
</div>
      
  <div id="template_7">
  <div class="byui" <%= courseClass %>>
<!--    <h1>Prepare - Note Taking</h1>
        Status = Complete
-->
      <h2>Overview</h2>
      <p>In this activity, you will be asked to <strong>take notes on</strong> <span class="todo">[describe and <strong>highlight</strong> what must be reviewed]</span>. This will <span class="todo">[indicate how it will prepare them for future course activities]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
          <li><span class="todo">[Note taking should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
              <li><span class="todo">[Indicate any unique steps and/or resources needed to complete]</span></li>
              <li><span class="todo">[Indicate any note taking strategy—e.g. Cornell Method—required]</span></li>
          </ol>
          <li><span class="todo">[Note taking should utilize the appropriate tool(s)]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it].</span></li>
          </ol>
          <li><span class="todo">[Note taking should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate whether a deliverable is required for this activity]</span></li>
              <li><span class="todo">[If group note taking, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
</div>
      
  <div id="template_8">
  <div class="byui" <%= courseClass %>>
<!--    <h1>Prepare - Information Gathering</h1>
        Status = Complete
-->
      <h2>Overview</h2>
      <p>In this activity, you will <strong>gather information on</strong> <span class="todo">[describe and <strong>highlight</strong> what information must be gathered—or if chosen by student]</span> from <span class="todo">[describe document/source of information]</span>, for <span class="todo">[indicate the audience]</span>. This will <span class="todo">[indicate how it will prepare them for future course activities]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
          <li><span class="todo">[Info gathering should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate required steps to complete—particularly if multiple documents/deliverables are required]</span></li>
              <li><span class="todo">[Indicate topic(s) being reviewed and suggested keywords to use in search]</span></li>
              <li><span class="todo">[Indicate any parameters, such as approved resources to use]</span></li>
              <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
          </ol>
          <li><span class="todo">[Info gathering should utilize the appropriate tool(s)]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it].</span></li>
          </ol>
          <li><span class="todo">[Info gathering should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</span></li>
              <li><span class="todo">[If group info gathering, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
</div>
      
  <div id="template_9">
  <div class="byui" <%= courseClass %>>
<!--    <h1>Prepare - Scholarly Research</h1>
        Status = Complete
-->
      <h2>Overview</h2>
      <p>In this activity, you will <strong>conduct research on</strong> <span class="todo"> [describe and <strong>highlight</strong> what must be researched—or if chosen by student]</span> from <span class="todo"> [describe the document/source of information]</span>, for <span class="todo">[indicate the audience]</span>. This will <span class="todo">[indicate how it will prepare them for future course activities]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
          <li><span class="todo">[Research should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate required steps to complete—particularly if multiple documents/deliverables are required]</span></li>
              <li><span class="todo">[Indicate topic(s) being researched and suggested keywords to use in search]</span></li>
              <li><span class="todo">[Indicate any helpful or necessary resources, such as library tutorials and subject-specific databases]</span></li>
              <li><span class="todo">[Indicate any parameters, such as number of sources and citation style]</span></li>
              <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
          </ol>
          <li><span class="todo">[Research should utilize the appropriate tool(s)]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it].</span></li>
          </ol>
          <li><span class="todo">[Research should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</span></li>
              <li><span class="todo">[If group research, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
</div>
      
  <div id="template_10">
    <div class="byui" <%= courseClass %>>
<!--    <h1>Prepare - Learning Contract</h1>
        Status = Complete
-->
      <h2>Overview</h2>
      <p>In this activity, you will <strong>create a learning contract outlining</strong> <span class="todo"> [describe and <strong>highlight</strong> what behaviors/deliverables student will be responsible for]</span>. This will <span class="todo"> [indicate purpose]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
          <li><span class="todo">[Learning contract should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate required steps to complete—particularly if multiple documents/deliverables are required]</span></li>
              <li><span class="todo">[Indicate any goals or plans which students must articulate upfront, and how they will be held accountable]</span></li>
              <li><span class="todo">[Indicate any resources, documents, or artifacts needed to help complete contract]</span></li>
          </ol>
          <li><span class="todo">[Learning contract should utilize the appropriate tool(s)]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it].</span></li>
          </ol>
          <li><span class="todo">[Learning contract should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify timeline for submission, especially if there are multiple deliverables]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
</div>

  <div id="template_11">
    <div class="byui" <%= courseClass %>>
<!--  <h1>Prepare - Project Plan</h1>
      Status = Complete    
-->
      <h2>Overview</h2>
      <p>In this activity, you will <strong>create a project plan for</strong> <span class="todo">  [identify and <strong>highlight</strong> project]</span><strong> outlining</strong> <span class="todo"> [describe and <strong>highlight</strong> what behaviors/deliverables student will be responsible for]</span>. This will <span class="todo">[indicate purpose]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
          <li><span class="todo">[Project plan should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate required steps to complete—particularly if multiple documents/deliverables are required]</span></li>
              <li><span class="todo">[Indicate any goals or plans which students must articulate upfront, and how they will be held accountable]</span></li>
              <li><span class="todo">[Indicate any resources, documents, or artifacts needed to help complete contract]</span></li>
              <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
          </ol>
          <li><span class="todo">[Project plan should utilize the appropriate tool(s)]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it].</span></li>
          </ol>
          <li><span class="todo">[Project plan should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify timeline for submission, especially if there are multiple deliverables]</span></li>
              <li><span class="todo">[If group project, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>    </div>
  </div>

  <div id="template_12">
    <div class="byui" <%= courseClass %>>
<!--    <h1>Prepare - Sign Up</h1>
        Status = Completed
-->
      <h2>Overview</h2>
      <p>In this activity, you will <strong>sign up for</strong> <span class="todo">  [describe and <strong>highlight</strong>what students will sign up for—e.g. Groups, topics, dates to present, etc.]</span>using <span class="todo"> [indicate what tool they will use to sign up]</span>. This will <span class="todo">[indicate how it will prepare them for future course activities]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
          <li><span class="todo">[Sign up should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate any unique steps and/or resources needed to complete]</span></li>
          </ol>
          <li><span class="todo">[Sign up should utilize the appropriate tool(s)]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it].</span></li>
          </ol>
          <li><span class="todo">[Sign up should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[If graded then include any needed grading criteria]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>    </div>
  </div>

  <div id="template_13">
    <div class="byui" <%= courseClass %>>
<!--    <h1>Prepare - Quiz Writing</h1>
        Status = Complete
-->
      <h2>Overview</h2>
      <p>In this activity, you will <strong>create and submit quiz questions for</strong> <span class="todo">  [describe and <strong>highlight</strong>lesson/topic quiz]</span>. This will <span class="todo">[indicate purpose]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
          <li><span class="todo">[Quiz questions should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate how many quiz items must be submitted and what topics they must assess]</span></li>
              <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
              <li><span class="todo">[As needed, include any high-level suggestions for writing good quiz items]</span></li>
          </ol>
          <li><span class="todo">[Quiz questions should utilize the appropriate tool(s)]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it].</span></li>
          </ol>
          <li><span class="todo">[Quiz questions should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify timeline for submission, especially if there are multiple deliverables]</span></li>
              <li><span class="todo">[If group quiz, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>    </div>
  </div>

  <div id="template_14">
      <div class="byui" <%= courseClass %>>
<!--    <h1>TOA - Presentation</h1>
        Status = Complete
-->
      <h2>Overview</h2>
      <p>In this activity, you will make a <strong>presentation </strong>that <span class="todo"><strong>[demonstrates/explains/showcases]</strong>[describe and <strong>highlight</strong> what must be showcased] </span><strong>in <span class="todo">[#] [minutes/slides]</span> or less</strong>. You must convince <span class="todo">[indicate the audience]</span> that <span class="todo">[purpose of presentation]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
          <li><span class="todo">[Presentation should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
              <li><span class="todo">[Indicate required documents to include]</span></li>
              <li><span class="todo">[Indicate any requirements for visuals; if so, provide resources to find free/open images]</span></li>
          </ol>
          <li><span class="todo">[Presentation should utilize the appropriate tool(s)]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate the tool that students will use and how they will present, with optional tutorials to utilize].</span></li>
              <li><span class="todo">[If using a slide deck, specify if there is a required number of slides].</span></li>
          </ol>
          <li><span class="todo">[Presentation should show clear understanding of topic(s)]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate any high-level topics to cover and when].</span></li>
          </ol>
          <li><span class="todo">[Presentation should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[If group presentation, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
              <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed and/or peer feedback is solicited]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>      </div>
  </div>

  <div id="template_15">
      <div class="byui" <%= courseClass %>>
<!--      <h1>TOA - Case Study</h1>
          Status = Complete
-->
          <h2>Overview</h2>
          <p>Work with your <strong>group</strong> to <strong>analyze</strong> the various factors of the <span class="todo">[describe and <strong>highlight</strong> the scenario or problem]</span>. You must <strong>create</strong> and evaluate alternative <strong>solutions</strong> to address <span class="todo">[indicate and highlight the scenario or problem]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
          <h2>Instructions</h2>
          <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
          <li><span class="todo">[Team should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate the format of the case; e.g. Is it a simplified mini case? Multiple complex cases requiring teams to make decisions with limited information?]</span></li>
              <li><span class="todo">[Indicate any needed or helpful resources; e.g. Decision-making and consequences of professionals—after students have analyzed case.]</span></li>
              <li><span class="todo">[Indicate any metrics for determining good decision-making and reasoning]</span></li>
              <li><span class="todo">[Indicate any requirements regarding persuasiveness, professionalism, etc.]</span></li>
          </ol>
          <li><span class="todo">[Team should utilize the appropriate tool(s) to organize, share, and present findings]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate the tool that students will use to collaborate, if any; and, how they will share their solutions, with optional tutorials to utilize].</span></li>
              <li><span class="todo">[If using a slide deck, specify if there is a required number of slides].</span></li>
          </ol>
          <li><span class="todo">[Team should demonstrate clear understanding of topics]</span></li>
          <ol type="a">
              <li><span class="todo">[Indicate any high-level topics to cover and when].</span></li>
          </ol>
          <li><span class="todo">[Team should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[If group presentation, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
              <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed and/or peer feedback is solicited]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>      </div>
</div>

  <div id="template_16">
    <div class="byui" <%= courseClass %>>
<!--    <h1>TOA - Field Experience</h1>
        Status = Complete
-->
          <h2>Overview</h2>
          <p><strong>Conduct</strong> relevant and authentic <span class="todo">[indicate and <strong>highlight</strong> type of Field Experience—e.g. Interviewing or shadowing a professional, conducting an experiment, teaching or presenting to someone in their community]</span><strong>outside</strong> the <strong>class that parallels</strong><span class="todo">[indicate and <strong>highlight</strong> relevant course topic or work tasks/professional responsibilities]</span>. Report on your field experiences to <span class="todo">[specify audience]</span> and demonstrate <span class="todo">[purpose of assignment]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
          <h2>Instructions</h2>
          <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
          <li><span class="todo">[Team or Individual should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify any unique requirements; e.g. sharing experiences with others in discussion forums or on social media]</span></li>
              <li><span class="todo">[Specify what activities should be completed; e.g. take notes, analyze processes, gather work samples, record videos, etc.]</span></li>
          </ol>
          <li><span class="todo">[Team or Individual [specify] should utilize the appropriate tool(s)]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify tools to be used for knowledge sharing, collaborating and sharing report]</span></li>
          </ol>
          <li><span class="todo">[Team or Individual [specify] should demonstrate clear understanding of topics]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify any intended topics or abilities needing to be captured in report]</span></li>
          </ol>
          <li><span class="todo">[Team or Individual [specify] should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify format of report; e.g. written, presentation (asynchronous or synchronous), or video]</span></li>
              <li><span class="todo">[Specify audience for report; e.g. small group, instructor, or class]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>    </div>
  </div>

  <div id="template_17">
      <div class="byui" <%= courseClass %>>
<!--        <h1>TOA - Group Problem Solving</h1>
            Status = In progress
-->
          <h2>Overview</h2>
          <p>Work together in your <strong>groups</strong> to <strong>discover and organize </strong><span class="todo"> [indicate and <strong>highlight</strong> concepts]</span>. This will help you learn how <strong>to approach and solve </strong><span class="todo">[specify and <strong>highlight</strong> types of problems to be solved]</span> by incorporating the insights of each group member. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
          <h2>Instructions</h2>
          <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
          <ol>
          <li><span class="todo">[Group should adhere to the prescribed method]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify if groups need to be arranged by students]</span></li>
              <li><span class="todo">[Specify any required tasks and roles in groups]</span></li>
              <li><span class="todo">[Specify the timeline for the activity and how often it should occur]</span></li>
          </ol>
          <li><span class="todo">[Group should utilize the appropriate tool(s) for collaboration and knowledge sharing]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify tool and/or resources to be used for group collaboration and knowledge sharing]</span></li>
          </ol>
          <li><span class="todo">[Group should show clear understanding of topics]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify any intended topics or competencies that will be assessed]</span></li>
          </ol>
          <li><span class="todo">[Group should adhere to submission requirements]</span></li>
          <ol type="a">
              <li><span class="todo">[Specify or include a rubric defining how students are to be graded both individually and collectively]</span></li>
          </ol>
      </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>      </div>
</div>
  <div id="template_18">
  <div class="byui" <%= courseClass %>>
  <!--
    TOA - Group Project
    Status = Completed
-->
    <h2>Overview</h2>
    <p>As a group, <strong>work together</strong> to synthesize, analyze, and <strong>create</strong> a <span class="todo">[indicate and <strong>highlight</strong> deliverable; e.g. paper, report, presentation, video, or other creative work]</span> for <span class="todo">[indicate the audience]</span> that <span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Groups should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify how students are grouped, if not done already]</span></li>
                <li><span class="todo">[Specify any parameters for selecting appropriate topics]</span></li>
                <li><span class="todo">[Specify any goals and project dates]</span></li>
                <li><span class="todo">[Specify the format of the product and how students will be graded for the product and the process]</span></li>.
                <li><span class="todo">[Specify expectations for dividing up and assigning tasks among group members]</span></li>.
            </ol>
        <li><span class="todo">[Group should utilize the appropriate resources and tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Explain what resources are acceptable for research; e.g. scholarly, popular, expert interview, etc.]</span></li>.
                <li><span class="todo">[Specify what tool(s) should be used for collaborating and presenting artifact]</span></li>.
            </ol>
        <li><span class="todo">[Group should demonstrate clear understanding of topics]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify any intended topics or competencies that will be assessed]</span></li>.
            </ol>
        <li><span class="todo">[Group should adhere to submission requirements]</span></li>
             <ol type="a">
                <li><span class="todo">[Specify any formatting requirements or time/length restrictions]</span></li>
                <li><span class="todo">[Reiterate the intended audience of the report and presentation and their role]</span></li>
                <li><span class="todo">[Specify how groups and individuals will be graded for their role in group project]</span></li>.
                <li><span class="todo">[Specify any other submission requirements]</span></li>.
            </ol>
    </ol>
      <h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>
  </div>
</div>>


  <div id="template_19">
  <div class="byui" <%= courseClass %>>
<!--  
    TOA - Icebreaker
    Status = Completed
-->
    <h2>Overview</h2>
    <p><strong>Introduce yourselves to each other and</strong> to your <strong>instructor</strong>. The purpose of this activity is to prepare personal connections and to promote a culture of open online communication. As you introduce yourself, your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Students should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate criteria; e.g. specific questions, sharing a learning plan, a researched introduction from their profession, pictures of themselves, research and share takeaways about a class topic, etc.]</span></li>
                <li><span class="todo">[Provide helpful resources, if criteria solicits details beyond personal information]</span></li>
                <li><span class="todo">[Specify if students will share with group or class; if group, then specify any group norming expectations]</span></li>
            </ol>
        <li><span class="todo">[Students should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify any tools needed for collaboration, if outside I-Learn]</span></li>.
            </ol>
        <li><span class="todo">[Students should show respect and courtesy to their peers]</span></li>
             <ol type="a">
                <li><span class="todo">[Specify any courtesy or etiquette requirements]</span></li>
                <li><span class="todo">[Specify expectations for peers to respond to comments, if any]</span></li>
            </ol>
        <li><span class="todo">[Students will adhere to submission requirements]</span></li>
             <ol type="a">
                <li><span class="todo">[Specify any style, length or formatting requirements]</span></li>
                <li><span class="todo">[Specify dates, especially if there are multiple post dates]</span></li>
            </ol>
    </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
    </div>


  <div id="template_20">
  <div class="byui" <%= courseClass %>>
<!--
    TOA - Insight Sharing
    Status = Completed
-->
  <h2>Overview</h2>
    <p>In this activity, you will <strong>take turns sharing</strong> <span class="todo">[indicate and <strong>highlight</strong> what insights to share; e.g. spiritual thoughts, skill tips, cultural awareness, experiences with the subject, etc.]</span> within <span class="todo">[class or group]</span> that <span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Students should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify what insights to share; e.g. spiritual thoughts, skill tips, public relations journal/blogs, favorite video share, experience with subject matter, etc.]</span></li>
                <li><span class="todo">[Specify format of activity; e.g. creating a prompt for others to respond to, discuss insights from readings with an assigned moderator, etc.]</span></li>
                <li><span class="todo">[Specify audience—class or groups; include expectations for responding to comments, if any]</span></li>
            </ol>
        <li><span class="todo">[Students should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify any tools needed for collaboration, if outside I-Learn]</span></li>.
            </ol>
        <li><span class="todo">[Students will adhere to submission requirements]</span></li>
             <ol type="a">
                <li><span class="todo">[Specify any style, length or formatting requirements]</span></li>
                <li><span class="todo">[Specify dates, especially if there are multiple post dates]</span></li>
            </ol>
    </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
</div>


  <div id="template_21">
  <div class="byui" <%= courseClass %>>
<!--
    TOA - Jigsaw Teaching
    Status = Completed
-->
    <h2>Overview</h2>
    <p>Students will be arranged into small groups to research <span class="todo">[indicate topic]</span> <strong>Each</strong> group <strong>member</strong> is <strong>assigned</strong> a <strong>different piece of information</strong> about <span class="todo">[indicate and <strong>highlight</strong> topic]</span> to become an expert in. The <strong>expert members from each group</strong> will <strong>meet</strong> together to research and/or <strong>share the information</strong>, then <strong>return to</strong> their <strong>original groups</strong> and <strong>present</strong> what they have learned. This will help your groups to create a clearer picture of <span class="todo">[specify the topic]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Group members should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify any readings, key questions or principles, or other guidelines to direct research.]</span></li>
                <li><span class="todo">[[Specify timeline for each portion of activity]</span></li>
                <li><span class="todo">[Indicate how groups are organized and size]</span></li>
                <li><span class="todo">[Indicate whether topics can be chosen by groups, usually from a preset list, or are assigned from a preset list]</span></li>
                <li><span class="todo">[Specify process, readings, expectations, timeline, and deliverables for “experts” to take back to their respective groups]</span></li>
                <li><span class="todo">[Specify process, readings, expectations, timeline, and deliverables within peer groups]</span></li>
            </ol>
        <li><span class="todo">[Group members should utilize the appropriate tool(s) for collaboration and presenting]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate tools for collaboration, sharing and future presenting]</span></li>.
            </ol>
        <li><span class="todo">[Group members should demonstrate clear understanding of topic(s)]</span></li>
             <ol type="a">
                <li><span class="todo">[Specify any intended topics or competencies that will be assessed]</span></li>
            </ol>
        <li><span class="todo">[Group members should adhere to the submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[Include all grading criteria across the multiple steps as well as how individuals and/or groups will be assessed]</span></li>
            </ol>
    </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
</div>


  <div id="template_22">
  <div class="byui" <%= courseClass %>>
 <!--
    TOA - Peer Accountability
    Status = Completed
-->
    <h2>Overview</h2>
    <p>In this activity, you will <strong>work with</strong> <span class="todo">[indicate, “a chosen” or “an assigned”]</span> <strong>accountability partner</strong>. You will then <strong>regularly report progress</strong> to your partner on <span class="todo">[indicate activities]</span> assigned in this course so that<span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Student pairs should report to one another using the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify format and scope of reporting; e.g. learning contracts, peer reading checks, milestone reports, peer tutoring, performance feedback, etc.]</span></li>
                <li><span class="todo">[Specify timeframe and/or specific assignments to include for peer accountability]</span></li>
                <li><span class="todo">[Specify if instructor should be included in accountability checks]</span></li>
                <li><span class="todo">[Specify if there are any summative reports or peer evaluations due to instructor]</span></li>
            </ol>
        <li><span class="todo">[Student pairs should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify if any tools are required, especially if outside I-Learn]</span></li>.
            </ol>
    </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
  </div>


  <div id="template_23">
  <div class="byui" <%= courseClass %>>
<!--
    TOA - Peer Feedback
    Status = Completed
-->
    <h2>Overview</h2>
    <p>In this activity, you will <strong>offer</strong> and <strong>receive feedback from other students</strong> on their <span class="todo">[indicate and <strong>highlight</strong> artifact; e.g. paper, presentation, or creative work]</span> that they <span class="todo">[specify if created with you or separately]</span>. Your feedback will be used to <span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Feedback offered to peers should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Include rubric specifying what meaningful feedback should address and include]</span></li>
                <li><span class="todo">[Indicate timeline for feedback, especially if requiring multiple reviews and revisions; e.g. in preparing a final product]</span></li>
                <li><span class="todo">[Indicate peer group organization]</span></li>
            </ol>
        <li><span class="todo">[Feedback offered to peers should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate any tool being used, especially if outside of I-Learn]</span></li>.
            </ol>
        <li><span class="todo">[Feedback offered to peers should adhere to submission requirements]</span></li>
             <ol type="a">
                <li><span class="todo">[Indicate if projects are to be reviewed individually or by groups]</span></li>
                <li><span class="todo">[Indicate if there is a requirement for reporting feedback; e.g. in a subsequent quiz or email]</span></li>
            </ol>
    </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
  </div>


  <div id="template_24">
  <div class="byui" <%= courseClass %>>
 <!--
    TOA - Q&amp;A/Support Forum
    Status = Completed
-->
    <h2>Overview</h2>
    <p>In this forum, you are invited to <strong>post</strong> your <strong>questions to</strong> the <span class="todo">[indicate and <strong>highlight</strong> forum type; e.g. class, unit, topic-based support forum, or Question and Answer board]</span>. You are encouraged to <strong>support and help each other</strong> by responding to other's questions. Your <span class="todo">[specify "instructor" or "TA"]</span><span class="todo">[indicate instructor’s and/or TA's role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[If posting a question, students should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate if a specific process should be followed; e.g. forward questions to a partner first, then a group, then the class if still unanswered]</span></li>
                <li><span class="todo">[Consider emphasizing that, where appropriate, students should include screenshots]</span></li>
                <li><span class="todo">[If a forum is time bound, indicate the timeframe]</span></li>
                <li><span class="todo">[Emphasize the timeframe in which an instructor will respond to a question; e.g. instructors won’t respond for 24 hrs to give students a chance to answer each other]</span></li>
            </ol>
        <li><span class="todo">[If posting a question, students should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate the location of the forum (if using I-Learn)—emphasizing if it is course-wide, module specific, or activity specific]</span></li>.
                <li><span class="todo">[Indicate any external tools being used for forums, if any]</span></li>.
            </ol>
    </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
    </div>


  <div id="template_25">
  <div class="byui" <%= courseClass %>>
  <!--
    TOA - Role Play Discussion
    Status = Completed
-->
    <h2>Overview</h2>
    <p>In this activity, you will work with an assigned group to <strong>discuss</strong> <span class="todo">[indicate and <strong>highlight</strong> topic(s)]</span> based on <strong>certain roles</strong> you are <strong>assigned</strong> to play so that <span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Students should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate to students what about their roles they need to understand]</span></li>
                <li><span class="todo">[Indicate any resources or readings to help them research their roles]</span></li>
                <li><span class="todo">[Indicate the format and timeframe; e.g. role-based discussion, debate, group debate, simulation, negotiations, variation of a jigsaw activity, etc.]</span></li>
            </ol>
        <li><span class="todo">[Students should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate any tools used for discussion, especially if outside of I-Learn and synchronous]</span></li>.
            </ol>
        <li><span class="todo">[Students should demonstrate clear understanding of the topic(s)]</span></li>
             <ol type="a">
                <li><span class="todo">[Specify any intended topics or competencies that will be assessed]</span></li>
            </ol>
        <li><span class="todo">[Students should adhere to submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate any unique submission requirements]</span></li>
                <li><span class="todo">[Indicate any other grading criteria not previously specified]</span></li>
            </ol>
    </ol>
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
  </div>


  <div id="template_26">
  <div class="byui" <%= courseClass %>>
<!--
    TOA - Structured Debate
    Status = Completed
-->
    <h2>Overview</h2>
    <p>In this activity, you will <span class="todo">[specify and <strong>highlight</strong> “be assigned” or “select”]</span> a <strong>particular side</strong> of <span class="todo">[indicate and <strong>highlight</strong> topic of argument]</span> and will <strong>present</strong> and <strong>defend</strong> your <strong>case</strong> for <span class="todo">[indicate the audience]</span> that <span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Students should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate whether position is assigned or chosen; what must they research]</span></li>
                <li><span class="todo">[Indicate any preparatory readings or resources to help students become better informed]</span></li>
                <li><span class="todo">[Specify any requirements when presenting a side of an argument]</span></li>
                <li><span class="todo">[Specify any requirements when responding to an opposing side of an argument, including showing respect and courtesy]</span></li>
                <li><span class="todo">[Specify style of debate; e.g. political debate over candidates, historical debate over historical topics, case study debate over alternative decisions, etc.]</span></li>
                <li><span class="todo">[[Indicate size and timeline of debates; e.g. groups are pre-assigned a position in which to research and collaborate in a class-wide debate, or groups are divided into two teams that collaborate in group-wide debate]</span></li>
            </ol>
        <li><span class="todo">[Students should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify whether it is asynchronous or synchronous as well as what tools will be used; e.g. I-Learn discussion boards, live sessions using Zoom, round robin emails, etc.]</span></li>.
            </ol>
        <li><span class="todo">[Students should demonstrate clear understanding of the underlying topic(s) being debated]</span></li>
             <ol type="a">
                <li><span class="todo">[Specify any intended topics or competencies that will be assessed]</span></li>
            </ol>
        <li><span class="todo">[Students should adhere to submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate any other grading criteria not previously specified]</span></li>
            </ol>
    </ol>
      <h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>
  </div>
</div>


  <div id="template_27">
  <div class="byui" <%= courseClass %>>
  <!--
    TOA - Study Group
    Status = Completed
      -->
    <h2>Overview</h2>
    <p>In this activity, you will work with your organized <strong>small group</strong> to <strong>review</strong> <span class="todo">[indicate and <strong>highlight</strong> specific topic(s) to be studied]</span> so that <span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Study groups should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify any assigned activities; e.g. complete group assignments, study for assessments, create topic definitions document, etc.]</span></li>
                <li><span class="todo">[Specify any upfront expectations and instructions on how the group should function and what will be the outcome of the group’s efforts]</span></li>
                <li><span class="todo">[Indicate the timeline for this activity]</span></li>
            </ol>
        <li><span class="todo">[Study groups should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Provide any needed resources or tools to help facilitate group study and collaboration; if possible, provide several recommendations for both asynchronous and synchronous tools]</span></li>.
            </ol>
        <li><span class="todo">[Study groups should adhere to submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[If graded, specify how individuals and/or groups will be assessed through a rubric]</span></li>
            </ol>
    </ol>  
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
      </div>


  <div id="template_28">
  <div class="byui" <%= courseClass %>>
  <!--
    TOA - Topic Discussion
    Status = Completed
-->
    <h2>Overview</h2>
    <p>In this activity, you will <strong>engage</strong> in a <strong>discussion around</strong> <span class="todo">[indicate and <strong>highlight</strong> topic(s), question(s), or activity-specific insight(s)]</span> with <span class="todo">[indicate audience as “class” or “assigned group”]</span> so that <span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Students should post and respond to posts according to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate who will moderate discussion]</span></li>
                <li><span class="todo">[Indicate posting guidelines; e.g. frequency, quantity, quality, and nature of interactions—included in a rubric, if needed]</span></li>
                <li><span class="todo">[Indicate if students need to generate a topic to post and respond to in class or groups]</span></li>
            </ol>
        <li><span class="todo">[Students should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate if conducted asynchronously or synchronously; specify if done through I-Learn or using an external tool]</span></li>.
            </ol>
        <li><span class="todo">[Students should adhere to submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate timeline for posting and responding to posts, if both are required]</span></li>
                <li><span class="todo">[Indicate whether students need to submit anything to the instructor in addition to their participation in the discussions]</span></li>
            </ol>
    </ol>  
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
</div>


  <div id="template_29">
  <div class="byui" <%= courseClass %>>
  <!--
    Ponder/Prove - Unanswered Questions
    Status = Completed
-->
    <h2>Overview</h2>
    <p>In this activity, you will <strong>share</strong> any <strong>unanswered</strong> or ongoing <strong>questions</strong> you have <strong>about</strong> <span class="todo">[describe and <strong>highlight</strong> lessons/topics covered]</span> with <span class="todo">[indicate the audience]</span>. This will<span class="todo"> [indicate purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Questions should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate any unique steps or resources needed to complete]</span></li>
                <li><span class="todo">[Indicate the parameters—lessons/topics to be covered and question limit]</span></li>
                <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
            </ol>
        <li><span class="todo">[Questions should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it]</span></li>.
            </ol>
        <li><span class="todo">[Questions should adhere to submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</span></li>
                <li><span class="todo">[If submitted by group, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
            </ol>
    </ol>  
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>    </div>
    </div>


  <div id="template_30">
  <div class="byui" <%= courseClass %>>
 <!--
    Ponder/Prove - Quiz
    Status = completed
-->
    <h2>Overview</h2>
    <p>In this activity, you will <strong>complete</strong> a <strong>quiz to demonstrate</strong><span class="todo">[describe and <strong>highlight</strong> what must be demonstrated]</span> This will<span class="todo"> [indicate purpose]</span> Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Quiz reponses should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
                <li><span class="todo">[Indicate any unique steps or resources needed to complete]</span></li>
                <li><span class="todo">[Indicate what resources, if any, are permitted]</span></li>
            </ol>
        <li><span class="todo">[Quiz reponses should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it]</span></li>
            </ol>
        <li><span class="todo">[Quiz reponses should adhere to submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[If group quiz, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
            </ol>
    </ol>  
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
       </div>


  <div id="template_31">
    <div class="byui" <%= courseClass %>>
  <!--
    Ponder/Prove - Exam
    Status = Complete
-->
    <h2>Overview</h2>
    <p>In this activity, you will <strong>complete</strong> an <strong>exam to demonstrate</strong><span class="todo">[describe and <strong>highlight</strong> what must be demonstrated]</span> This will<span class="todo"> [indicate purpose]</span> Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Exam reponses should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
                <li><span class="todo">[Indicate any unique steps or resources needed to complete—e.g. Whether it is proctored]</span></li>
            </ol>
        <li><span class="todo">[Exam reponses should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it—e.g. Proctoring software]</span></li>
            </ol>
        <li><span class="todo">[Exam reponses should adhere to submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[If group exam, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
                <li><span class="todo">[Indicate number of attempts permitted and whether students can save and return to exam later]</span></li>
            </ol>
    </ol>  
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>      </div>
    </div>


  <div id="template_32">
  <div class="byui" <%= courseClass %>>
      <!--
    Ponder/Prove - Presentation
    Status = Completed
-->
      <h2>Overview</h2>
      <p>In this activity, you will make a <strong>presentation</strong> that <strong><span class="todo">[demonstrates, explains, showcases, etc.]</span></strong> <span class="todo"> [describe and <strong>highlight</strong> what must be showcased]</span>in <span class="todo"> <strong>[#] [minutes/slides]</strong></span> <strong> or less. You must convince <span class="todo">[indicate the audience]</span> that <span class="todo"> [purpose of presentation]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
        <li><span class="todo">[Presentation should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
                <li><span class="todo">[Indicate required documents to include]</span></li>
                <li><span class="todo">[Indicate any requirements for visuals; if so, provide resources to find free/open images]</span></li>
            </ol>
        <li><span class="todo">[Presentation should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate the tool that students will use and how they will present, with optional tutorials to utilize]</span></li>
                <li><span class="todo">[If using a slide deck, specify if there is a required number of slides]</span></li>
            </ol>
        <li><span class="todo">[Presentation should show clear understanding/competency of topic(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate any high-level topics to cover and when]</span></li>
            </ol>
        <li><span class="todo">[Presentation should adhere to submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[If group presentation, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
                <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed and/or peer feedback is solicited]</span></li>
            </ol>
     </ol>  
<h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>  </div>
    </div>


  <div id="template_33">
  <div class="byui" <%= courseClass %>>
  <!--
    Ponder/Prove - Project
    Status = Completed
-->
      <h2>Overview</h2>
      <p>In this activity, you will <strong>complete</strong> a <strong>project that <span class="todo">[demonstrates, explains, showcases, etc.]</span></strong> <span class="todo"> [describe and <strong>highlight</strong> what must be showcased]</span>with <span class="todo">[describe any resources or team members to be utilized]</span>. Your project must demonstrate <span class="todo">[purpose of project]</span>for <span class="todo">[indicate the audience]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
        <li><span class="todo">[Project should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate required steps to complete—particularly if multiple documents/deliverables are required]</span></li>
                <li><span class="todo">[Indicate any resources, documents, or artifacts needed to help complete]</span></li>
                <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
                <li><span class="todo">[Indicate any citation or style guide requirement, if any]</span></li>
            </ol>
        <li><span class="todo">[Project should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it]</span></li>
                <li><span class="todo">[If using a slide deck, specify if there is a required number of slides]</span></li>
            </ol>
        <li><span class="todo">[Project should show clear understanding/competency of topic(s)/skill(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate specific topics/skills that should be reflected]</span></li>
            </ol>
        <li><span class="todo">[Project should adhere to submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</span></li>
                <li><span class="todo">[If group project, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
            </ol>
     </ol>  
     <h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>
     </div>
      </div>

  <div id="template_34">
  <div class="byui" <%= courseClass %>>
      <!--
    Ponder/Prove - Essay
    Status = completed
-->
      <h2>Overview</h2>
      <p>In this activity, you will <strong>write</strong> an <strong>essay that <span class="todo">[reviews, argues, explains, etc.]</span></strong> <span class="todo"> [describe and <strong>highlight</strong> what must be reviewed]</span> using <span class="todo">[describe any resources or to be utilized]</span>. Your essay should be written for <span class="todo">[indicated audience]</span> and show <span class="todo">[purpose of essay]</span>. Your instructor will <span class="todo">[indicate instructor's role in this activity]</span>.</p>
      
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      <ol>
        <li><span class="todo">[Essay should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate required steps to complete—particularly if multiple documents/deliverables are required]</span></li>
                <li><span class="todo">[Indicate any resources, documents, or databases needed to help complete]</span></li>
                <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
                <li><span class="todo">[Indicate any citation or style guide requirement]</span></li>
            </ol>
        <li><span class="todo">[Essay should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it].</span></li>
            </ol>
        <li><span class="todo">[Essay should show clear understanding/competency of topic(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate specific topics to cover and, if needed, when]</span></li>
            </ol>
        <li><span class="todo">[Essay should adhere to submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</span></li>
                <li><span class="todo">[If group essay, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
            </ol>
     </ol>  
  <h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>
  </div>
      </div>


  <div id="template_35">
  <div class="byui" <%= courseClass %>>
        <!--
      Ponder/Prove - Worksheet-Workbook
      Status = Completed
-->
    <h2>Overview</h2>
    <p>In this activity, you will <strong>complete</strong> a<strong><span class="todo"> [worksheet/workbook]</span> that </strong> <span class="todo"><strong>[demonstrates, explains, showcases, etc.]</strong> [describe and <strong>highlight </strong>what must be demonstrated]</span>. Your <span class="todo">[worksheet/workbook]</span> must demonstrate <span class="todo">[purpose of activity]</span> for<span class="todo"> [indicate the audience]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
    <h2>Instructions</h2>
    <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
    <ol>
        <li><span class="todo">[Worksheet/Workbook should adhere to the prescribed method]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate required steps to complete—particularly if multiple documents/deliverables are required]</span></li>
                <li><span class="todo">[Indicate any resources, documents, or databases needed to help complete]</span></li>
                <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
            </ol>
        <li><span class="todo">[Worksheet/Workbook should utilize the appropriate tool(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it].</span></li>
            </ol>
                <li><span class="todo">[Worksheet/Workbook should show clear understanding/competency of topic(s)]</span></li>
            <ol type="a">
                <li><span class="todo">[Indicate specific topics to cover and, if needed, when]</span></li>
            </ol>
                <li><span class="todo">[Worksheet/Workbook should adhere to submission requirements]</span></li>
            <ol type="a">
                <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</span></li>
                <li><span class="todo">[If group worksheet/workbook, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
            </ol>
    </ol>  
    <h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>
    </div>
      </div>
  

  <div id="template_36">
  <div class="byui" <%= courseClass %>>
      <!--
      Ponder/Prove - Portfolio
      Status = Completed
-->
      <h2>Overview</h2>
      <p>In this activity, you will <strong>complete</strong> a <strong>portfolio that <span class="todo">[demonstrates, explains, showcases, etc.]</span></strong><span class="todo"> [describe and <strong>highlight</strong> what must be showcased]</span> using <span class="todo">[briefly list any previous artifacts to be utilized]</span>. Your portfolio must demonstrate <span class="todo">[purpose of portfolio]</span> for <span class="todo">[indicate the audience]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
      
          <ol>
            <li><span class="todo">[Portfolio should adhere to the prescribed method]</span></li>
              <ol type="a">
                  <li><span class="todo">[Indicate required steps to complete—particularly, what previous artifacts should be included]</span></li>
                  <li><span class="todo">[Indicate any needed or useful resources, particularly those that may have been previously used to create artifacts]</span></li>
                  <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
                  <li><span class="todo">[Indicate any citation or style guide requirement, if any]</span></li>
              </ol>
            <li><span class="todo">[Portfolio should utilize the appropriate tool(s)]</span></li>
              <ol type="a">
                  <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it].</span></li>
                  <li><span class="todo">[If using a slide deck, specify if there is a required number of slides].</span></li>
              </ol>
              <li><span class="todo">[Portfolio should show clear understanding/competency of topic(s)/skill(s)]</span></li>
              <ol type="a">
                  <li><span class="todo">[Indicate specific topics/skills that should be reflected]</span></li>
              </ol>
              <li><span class="todo">[Portfolio should adhere to submission requirements]</span></li>
              <ol type="a">
                  <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</span></li>
                  <li><span class="todo">[If group portfolio, then include expectations of members as well as criteria for grading individuals and groups]</span></li>
              </ol>
          </ol>
      
      <h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>
      </div>
      </div>
  
    <div id="template_37">
      <div class="byui <%= courseClass %>">
        <p>To successfully complete this activity, follow these steps:</p>
        <ol>
          <li>
            <span class="todo">[Submission should adhere to the prescribed method]</span>
          </li>
          <li>
            <span class="todo">[Submission should utilize the appropriate tool(s), if any]</span>
          </li>
          <li>
            <span class="todo">[Submission should show clear understanding of topic(s)]</span>
          </li>
          <li>
            <span class="todo">[Submission should adhere to submission requirements]</span>
          </li>
        </ol>
        <h2>Next Steps (Optional)</h2>
        <p>After successfully completing this activity,
          <span class="todo">[specify any next steps or relevant future activities]</span>
        </p>
      </div>
    </div>

<div id="template_38">
    <div class="byui <%= courseClass %>">
      <h2>Overview</h2>
      <p>In this activity, you will <strong>write a reflection on</strong> <span class="todo"> [describe and <strong>highlight</strong> topics/discussions]</span> for <span class="todo">[indicate the audience]</span> that <span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor’s role in this activity]</span>.</p>
      <h2>Instructions</h2>
      <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
          <ol>
            <li><span class="todo">[Write-up should adhere to the prescribed method]</span></li>
              <ol type="a">
                  <li><span class="todo">[Indicate required steps to complete—particularly if multiple documents/deliverables are required]</span></li>
                  <li><span class="todo">[Indicate any resources, documents, or artifacts needed to help complete]</span></li>
                  <li><span class="todo">[Indicate whether it will be completed individually or by group]</span></li>
              </ol>
            <li><span class="todo">[Write-up should utilize the appropriate tool(s)]</span></li>
              <ol type="a">
                  <li><span class="todo">[Indicate the tool, if any, that students will use and how they will use it].</span></li>
              </ol>
              <li><span class="todo">[Write-up should show thoughtful reflection of topic(s)]</span></li>
              <ol type="a">
                  <li><span class="todo">[Indicate any previous topics, activities, or behaviors that should be reflected]</span></li>
              </ol>
              <li><span class="todo">[Write-up should adhere to submission requirements]</span></li>
              <ol type="a">
                  <li><span class="todo">[Specify timeline for submission, especially if revisions are allowed, peer feedback is solicited, or if there are multiple deliverables]</span></li>
                  <li><span class="todo">[Indicate page or word limits]</span></li>
              </ol>
          </ol>
      
        <h2>Grading Rubric</h2>
      <p><span class="todo">(You may also combine this with the submission or other requirements specified above)</span></p>     
     </div>
      </div>

      <div id="template_39">
        <div class="byui <%= courseClass %>">
          <h2>Overview</h2>
          <p>In this activity, you will <span class="todo">[specify deliverable/action to be taken]</span>in <span class="todo">[time period, if any]</span>. Students must <span class="todo">[action to be taken]</span> for <span class="todo">[indicate the audience]</span> that <span class="todo">[purpose of activity]</span>. Your instructor will <span class="todo">[indicate instructor&rsquo;s role in this activity]</span>.</p>
          <h2>Instructions </h2>
          <p>To successfully complete the <span class="todo">[Name of Activity]</span>, carefully follow these <span class="todo">[criteria/steps]</span>:</p>
          <ol>
            <li><span class="todo">[Any prescribed method or process for completing activity?]</span></li>
            <li><span class="todo">[Any tool requirements? If any, indicate tutorials or other helpful resources.]</span></li>
            <li><span class="todo">[Any demonstration of mastery for specific topics or competencies?]</span></li>
            <li><span class="todo">[Any submission/formatting requirements?]</span></li>
          </ol>
          <h3>Grading Rubric (You may also combine this with the submission or other requirements specified above)</h3>
          <h3>You will be graded using the criteria below <span class="todo">[include criteria and levels]</span>.</h3>
        </div>
      </div>